// Grid

@gridColumns:             3;
@gridColumnWidth:         300px;
@gridGutterWidth:         40px;

// Body

@bodyBackground: whitesmoke;

// Colors

@lightBrown:  rgb(226, 219, 212);
@darkGray:    rgb(112, 113, 115);
@mediumGray:  rgb(178, 178, 178);
@lightGray:   rgb(249, 247, 246);
@red:         rgb(159, 82, 57);
@green:       rgb(92, 125, 132);
@yellow:      rgb(182, 148, 61);

// Text

@textColor:       @darkGray;
@linkColor:       @darkGray;
@linkColorHover:  lighten(@linkColor, 15%);

// Padding and gutter

@basePadding:     30px;

// Typography

@serifFontFamily: 'Noticia Text', Georgia, Times, serif;
@sansFontFamily: 'Fjalla One', Verdana, sans-serif;
@baseFontSize: 13px;
@baseLineHeight: 16px;