// Posts list
.posts-list {
  margin: @basePadding*2 0;
}
.posts-list-item {
  padding-bottom: @basePadding*4;
  margin-top: @basePadding*1.5;
  border-bottom: 1px solid @red;
}
.posts-list-item-title {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 @basePadding/2 0;
  color: @red;
}
.posts-list-item-date {
  color: @red;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: @basePadding*2;
}
.posts-list-item-picture {
  margin-bottom: @basePadding;
}
.posts-list-item-description {
  margin-top: @basePadding;
}