////// Posts Index ////////////////////////////////

// Posts list
.posts-list {
  margin: @basePadding*2 0;
}
.posts-list-item {
  padding-bottom: @basePadding*4;
  margin-top: @basePadding*1.5;
  border-bottom: 1px solid @red;
}
.posts-list-item-title {
  font-size: 34px;
  font-weight: bold;
  margin: 0 0 @basePadding/2 0;
  color: @red;

  a:hover {
    text-decoration: none;
  }
}
.posts-list-item-date {
  color: @red;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: @basePadding*2;
}
.posts-list-item-picture {
  margin-bottom: @basePadding;
}
.posts-list-item-description {
  margin-top: @basePadding;
}

// Secondary posts list
.posts-secondary-list {
  margin: @basePadding*2 0;
}
.posts-secondary-list-item {
  border-top: 1px solid @red;
  padding-top: @basePadding;
}
.posts-secondary-list-item-title {
  font-size: 22px;
  font-weight: bold;
  color: @red;
  margin: 0;
}
.posts-secondary-list-item-date {
  font-weight: 300;
  color: @red;
  font-size: 16px;
  margin-bottom: @basePadding;
}

////// Posts Show ////////////////////////////////
.post-hero {
  background-position: center center;
  background-size: cover;
  text-align: center;
}
.post-hero-title-container {
  display: table;
  height: 400px;
  width: 100%;
}
.post-hero-title {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 62px;
  line-height: 1.1;
  color: white;
  text-transform: uppercase;
}
.post {
  padding: @basePadding*3 0;
  text-align: center;
}
.post-date {
  font-size: 22px;
  color: @red;
  margin-bottom: @basePadding*2;
  font-weight: 300;
}